<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUUj33hJuLb0whafEIQ-NyJRlcVFqkA8k</string>
	<key>GCM_SENDER_ID</key>
	<string>670133314584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.befit.mybefitapp</string>
	<key>PROJECT_ID</key>
	<string>mybefitapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mybefitapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670133314584:ios:39598c93456c8902a10f6d</string>
</dict>
</plist>